<div class="small-12 medium-6 columns">
  <h2><%= round.text %></h2>

  <% if round == current_round %>
    <p>Voting is now open for <%= round.text %>. <%= link_to "Cast your vote.", votes_path(round: round) %></p>
  <% else %>
    <p>Voting is closed for <%= round.text %>.</p>
  <% end %>

  <h3>Your votes for <%= round.text %></h3>
  <ol>
    <% round.total_votes.times do |int| %>
      <li>
        <% if votes[int] %>
          <%= votes[int].title %>
        <% end %>
      </li>
    <% end %>
  </ol>
</div>
