<%= form_for @proposal do |f| %>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <h3>About the Talk</h3>

      <%= f.label :title %>
      <%= f.text_field :title, placeholder: 'Make it great' %>

      <%= f.label :abstract %>
      <%= f.text_area :abstract, placeholder: 'What is your talk about?' %>

      <%= f.label :notes %>
      <%= f.text_area :notes, placeholder: 'What should we know about your talk that is not in the abstract?' %>

      <%= f.label :pitch %>
      <%= f.text_area :pitch, placeholder: 'Why should we pick you?' %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-6 columns">
      <hr />
      <h3>About You</h3>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-6 columns">

      <%= f.fields_for :user, @proposal.user do |user| %>
        <%= render partial: 'users/fields', locals: {f: user} %>
      <% end %>
    </div>

    <div class="small-12 medium-6 columns">
      <% if @proposal.user.photo.present? %>
        <h5>Your Current Photo</h5>
        <%= image_tag @proposal.user.photo.url(:medium) %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <%= f.submit button_text, class: 'button' %>
    </div>
  </div>
<% end %>
