<div class="proposal">
  <h2 class="title"><%= proposal.title %></h2>
  <div class="abstract">
    <h3>Abstract</h3>
    <p><%= simple_format proposal.abstract %></p>
  </div>
  <div class="pitch">
    <h3>Pitch</h3>
    <p><%= simple_format proposal.pitch %></p>
  </div>
  <div class="notes">
    <h3>Notes</h3>
    <p><%= simple_format proposal.notes %></p>
  </div>

  <% unless past_cutoff_date? %>
    <ul class="button-group">
      <li><%= link_to "Edit", edit_proposal_path(proposal), class: "button tiny secondary" %></li>
      <li><%= link_to "Destroy", proposal, method: :delete, data: { confirm: "Are you sure?" }, class: "button tiny alert" %></li>
    </ul>
  <% end %>
</div>
