<div {{bind-attr class=":proposal selected"}}>
  <h2 class="title">#{{unbound id}}. {{unbound title}}</h2>

  <dl class="tabs" data-tab>
    <dd {{bind-attr class="abstractActive:active"}}><a {{action 'showAbstract'}}>Abstract</a></dd>
    <dd {{bind-attr class="notesActive:active"}}><a {{action 'showNotes'}}>Notes</a></dd>
    <dd {{bind-attr class="pitchActive:active"}}><a {{action 'showPitch'}}>Pitch</a></dd>
    <dd {{bind-attr class="submitterActive:active"}}><a {{action 'showSubmitter'}}>Submitter</a></dd>
    <dd class="actions">
      <span {{bind-attr class=":vote selected"}} {{action 'toggleVote' vote model}}>
        {{#if selected}}
          <i class="fi-checkbox"></i> Selected
        {{else}}
          <i class="fi-like"></i> Select
        {{/if}}
      </span>

      {{#unless selected}}
        {{#if hidden}}
          <span class="hide" {{action 'toggleHide' hiddenVote model}}>Show</span>
        {{else}}
          <span class="hide" {{action 'toggleHide' hiddenVote model}}><i class="fi-dislike"></i> Hide</span>
        {{/if}}
      {{/unless}}
    </dd>
  </dl>

  <div class="tabs-content">
    <div {{bind-attr class=":abstract :content abstractActive:active"}}>
      {{unbound format-markdown abstract}}
    </div>
    <div {{bind-attr class=":notes :content notesActive:active"}}>
      {{unbound format-markdown notes}}
    </div>

    <div {{bind-attr class=":pitch :content pitchActive:active"}}>
      {{#if RoundView.controller.round.isAnonymous}}
        <p>Pitch is not available during an anonymous voting round.</p>
      {{else}}
        {{unbound format-markdown pitch}}
      {{/if}}
    </div>

    <div {{bind-attr class=":user-info :content submitterActive:active"}}>
      {{#if RoundView.controller.round.isAnonymous}}
        <p>Submitter info is not available during an anonymous voting round.</p>
      {{else}}
        <dl>
          <dt>Name</dt>
          <dd>{{unbound userName}}</dd>
          {{#if twitter}}
            <dt><i class="fi-social-twitter"></i></dt>
            <dd>{{unbound format-twitter twitter}}</dd>
          {{/if}}
          {{#if github}}
            <dt><i class="fi-social-github"></i></dt>
            <dd>{{unbound format-github github}}</dd>
          {{/if}}
        </dl>

        <div class="bio">
          {{unbound format-markdown userBio}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
