<div class="row voting">
  <div class="proposals small-12 columns">
    <h1>Voting for {{text}}</h1>

    {{#with view as RoundView}}
      {{#each visibleProposals itemController='proposal'}}
        <div {{bind-attr class=":proposal selected"}}>
          <h2 class="title">#{{unbound id}}. {{unbound title}}</h2>

          <dl class="tabs" data-tab>
            <dd {{bind-attr class="abstractActive:active"}}><a {{action showAbstract}}>Abstract</a></dd>
            <dd {{bind-attr class="notesActive:active"}}><a {{action showNotes}}>Notes</a></dd>
            <dd {{bind-attr class="pitchActive:active"}}><a {{action showPitch}}>Pitch</a></dd>
            <dd {{bind-attr class="submitterActive:active"}}><a {{action showSubmitter}}>Submitter</a></dd>
            <dd class="actions">
              <span {{bind-attr class=":vote selected"}} {{action toggleVote}}>
                {{#if selected}}
                  <i class="fi-checkbox"></i> Selected
                {{else}}
                  <i class="fi-like"></i> Select
                {{/if}}
              </span>
              {{#unless selected}}
                <span class="hide" {{action hide}}>
                  <i class="fi-dislike"></i> Hide
                </span>
              {{/unless}}
            </dd>
          </dl>

          <div class="tabs-content">
            <div {{bind-attr class=":content abstractActive:active"}}>
              {{unbound format-markdown abstract}}
            </div>
            <div {{bind-attr class=":content notesActive:active"}}>
              {{unbound format-markdown notes}}
            </div>

            <div {{bind-attr class=":content pitchActive:active"}}>
              {{#if RoundView.controller.isAnonymous}}
                <p>Pitch is not available during an anonymous voting round.</p>
              {{else}}
                {{unbound format-markdown pitch}}
              {{/if}}
            </div>

            <div {{bind-attr class=":user-info :content submitterActive:active"}}>
              {{#if RoundView.controller.isAnonymous}}
                <p>Submitter info is not available during an anonymous voting round.</p>
              {{else}}
                <dl>
                  <dt>Name</dt>
                  <dd>{{unbound user_name}}</dd>
                  {{#if twitter}}
                    <dt>Twitter</dt>
                    <dd>{{unbound twitter}}</dd>
                  {{/if}}
                  {{#if github}}
                    <dt>GitHub</dt>
                    <dd>{{unbound github}}</dd>
                  {{/if}}
                </dl>
              {{/if}}
            </div>
          </div>
        </div>
      {{/each}}
    {{/with}}
  </div>
</div>
