<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Burlington Ruby CFP", root_path %></h1>
    </li>
  </ul>

  <section class="top-bar-section">
   <ul class="right">
     <% if current_user %>
       <% if current_user.admin? %>
         <li data-no-turbolink><%= link_to "<i class='fi-lock'></i> Admin".html_safe, admin_root_url %></li>
       <% end %>
       <li><%= link_to "Submit Proposal", new_proposal_path %></li>
       <li><%= link_to "Your Proposals", proposals_path %></li>
       <li><%= link_to "Your Profile", current_user %></li>
       <li><%= link_to "Sign Out", logout_path, method: :delete %></li>
     <% else %>
       <li><%= link_to 'Sign In w/ GitHub', '/auth/github' %></li>
     <% end %>
   </ul>
  </section>
</nav>
